@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


/* general styles */


/* button styles */
.button-hover{
    background-color: white !important;
    transition: color 0.5s ease;
    transition: background-color 0.5s ease;
}

.button-hover:hover{
    background-color: #24CFF4 !important;
    color: white;
}


/* Nav Styles */
.nav-link {
    transition: all 0.3s ease;
}
.nav-link:hover {
    background-color: #a3f1fe;
    color: #065881 !important;
}
.nav-link.active {
    background-color: #24CFF4;
    color: white !important;
}
.nav-link.active i {
    color: white;
}
.nav-link i {
    transition: color 0.3s ease;
}

/* color & fonts */
body {
    font-family: 'Poppins', sans-serif !important;
}

.font-poppins {
    font-family: 'Poppins', sans-serif !important;
}

.bgcolor-1 {
    background-color: #EDF9FA !important;
}  /* caution: somehow doesn't work for inline classes grr */

/* Overriding */
.tw-outline-none {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.remove-flowbite-form {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.remove-flowbite-form:focus,
.remove-flowbite-form:active,
.remove-flowbite-form:focus-visible {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

/* Disablers */
::-ms-reveal,
input[type="password"]::-ms-reveal {
    display: none !important;
}

input[type="password"]::-webkit-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
}


